#login_td{
    float: left;
    padding: 15px;
    margin-right: 20px;
    border-right: 1px solid #CCC;
    height: 100% ;
}

#login_td label{
    margin-left: 10px;
}

#sub_login , #sub_client{

    background-color: #CCC;
    border: 1px solid #999;
    width: 164px;
    font-size: 14px;
    padding: 1px;
    cursor: pointer;

}

#login_td #username, #login_td #password{
    height: 18px;
    width: 160px;
    font-size: 14px;
    margin-bottom: 5px;

}

#main_stapes_td{
    float: left;
    text-align: center;
    width: 80%;
}

#cllist .client:hover{
    background-color: #add8e6;

}

#new_client{
    float: left;
    padding: 15px;
    margin-right: 20px;
    border-right: 1px solid #CCC;
    height: 100% ;
}

#cllist .client  span{
    padding-left: 10px;
    padding-right: 10px;
}

.client  .choose_but, .client .del_but, .client .info_but{
    cursor:pointer;

}

.client .info_but{
    color: #6D84B4;
}

.client .del_but{
    color: #a52a2a;
}

.client .choose_but{
    color:#006400;
}

#cllist caption{
    font-size: 14px;
    padding: 5px;
    background-color: #DDD;
    margin-top: 20px;
}

#new_client label{
    margin-left: 10px;
}

#new_client #cllogin, #new_client #clname, #new_client #clsur{
    height: 18px;
    width: 160px;
    font-size: 14px;
    margin-bottom: 5px;

}

