#_cv_unused {
     width: 400px;
     float: left;
     border: 1px solid #000000;
 }
#_banner_boxes {
    margin-left: 400px;
    border: 1px solid #000000;

}
.box_left {
    width: 40%;
    float: left;
    border: 1px solid #000000;
    min-height: 100px;
    overflow: auto;

}

.box_right {
    margin-left: 40%;
    /*border: 1px solid #000000;*/
}

.pattbox, .addpatt_box{
    overflow: auto;
    margin: 20px 7% 20px 7%;
    min-height: 100px;
    border: 1px solid #000000;

}

.addpatt_box{
    border: 2px dotted #666666;
}