/* use a semi-transparent image for the overlay */
.overlay_back1 {
    background-image:url(/media/images/back/transparent.png);
    color:#efefef;
    height:450px;

}

.overlay_back2 {
    background-image:url(/media/images/back/white.png);
    color:#000;
    height:450px;

}

.overlay_back3 {
    background-image:url(/media/images/back/petrol.png);
    color:#efefef;
    height:450px;

}


.message_back{
    display:none;
    min-width:200px;
    max-width: 400px !important;
    background: rgba(0, 0, 0, 0.4) !important;
    padding: 15px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;

    color:#FFFFFF;
    float: right;

    position: fixed;
    z-index: auto;
    display: none;
}

.message_back h4{
    color: #48d1cc;
    margin:5px;
    padding: 0;
}


/* container for external content. uses vertical scrollbar, if needed */
div.contentWrap {
    height:441px;
    overflow-y:auto;
    opacity: 1;
}

/* the overlayed element */
.apple_overlay {

    display:none;
    width:640px;
    padding:35px;
    font-size:11px;
    z-index: 100;


}

/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(/media/images/icons/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
    z-index: 101;
}

#facebox {

    display:none;
    width:400px;
    border:10px solid rgba(82, 82, 82, 0.698);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;

}

#facebox div {
    padding:10px;
    border:1px solid #3B5998;
    background-color:#fff;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;

}

#facebox h2 {
    margin:-11px;
    margin-bottom:0px;
    color:#fff;
    background-color:#6D84B4;
    padding:5px 10px;
    border:1px solid #3B5998;
    font-size:20px;
}

#facebox  .close {
    background-image:url(/media/images/back/del1.png);
    position:absolute; right:8px; top:8px;
    cursor:pointer;
    height:15px;
    width:15px;
}



