.max_price_input{
    border:0;
    color:#f6931f;
    font-weight:bold;
    width: 50px;
    background: none;
}

.price_group{
    border: 1px solid #CCC;
    padding: 10px;
    margin: 20px;
    width: 600px;
}

.hide_show{
    background-color: #CCC;
    width: 70px;
    cursor: pointer;
}


.price_group_item td{
  border: 1px solid #CCC;
  padding: 2px 5px 2px 5px;

}

.slider-range-min{
    width: 300px;
    margin: 10px;
}

.product_info{
    display: none;
}

.product_info_click{
    position: absolute;
    margin-left: 150px;
    margin-top: 2px;
    opacity: 0.9;
    border: 2px solid #FFFFFF;
    background-color: #CCCCCC;
    padding: 20px;
    box-shadow: #999 2px 2px 5px;
    z-index: 100;
}

.product_info_item{
    display: block;
}


.product_obj{
    cursor: pointer;
}

.product_obj_click{
    background-color: #f6931f;
}
