{% extends "base/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/media/css/banner.css">
    <link rel="stylesheet" href="/media/css/forms.css">
    <script src="/media/js/jquery-ui-1.8.23.custom.min.js"></script>

    <script type="text/javascript">

        var empty_pattbox = null;
        var box_number = 0;

        function document_ready(){

            function newbox(ui){
                var new_box = empty_pattbox.clone();

                new_box.find(".box_left").append(ui.item);

                $(".addpatt_box").before(new_box);

                $( ".box_left, #cv_unused" ).sortable({
                    connectWith: ".box_left"
                });


            }


            $( ".box_left, #cv_unused" ).sortable({
                connectWith: ".box_left"
            });

            $( ".addpatt_box  .box_left" ).bind( "sortreceive", function(event, ui) {
                newbox(ui);
            });

            empty_pattbox = $('#0.pattbox').clone();

        }


    </script>
{% endblock %}

{% block document_ready %}
    document_ready();
{% endblock %}

{% block content %}

    <div id='_cv_unused'>
        {% include 'project/banner/_cv_unused.html' %}
    </div>

    <div id='_banner_boxes'>
        {% include 'project/banner/_banner_boxes.html' %}
    </div>

{% endblock %}