<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
<h3>{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</h3>
<select onchange="window.location=window.location.pathname+this.options[this.selectedIndex].value">
    {% for choice in choices %}
        <option{% if choice.selected %} selected="selected"{% endif %}
                                        value="{{ choice.query_string|iriencode }}">{{ choice.display }}</option>
    {% endfor %}
</select>