<html>
<head>
</head>


<body>

<br>
Choose division, shop_id = {{shop_id}}
<br>
 
<form action="/shop/show_companies/" method="post" >{% csrf_token %}
<input type="hidden" name="shop_id" value="{{shop_id}}" />

<input type="checkbox" name="fparam" value="category" /> категория<br />
<input type="checkbox" name="fparam" value="vendor" /> производитель<br />
<input type="checkbox" name="fparam" value="typePrefix" /> подкатегория<br />
<input type="checkbox" name="fparam" value="param" /> параметр1<br />
<input type="checkbox" name="fparam" value="param" /> параметр2<br />
<input type="checkbox" name="fparam" value="param" /> параметр3<br />
<input type="checkbox" name="fparam" value="price" /> цена<br />

<input type="submit" name="sub" value="Отправить" />

</form> 
