{% extends "base/base.html" %}

{% block head %}
    <link  rel="stylesheet" href="/media/css/shop_style.css" />
    <script src="/media/js/jquery.form.js"></script>


<script type="text/javascript">

    $("#add").live("click", function(event){

        var form = $(this).parents("form");
        var yml = $(":text[name=yml]").val();
        var ymltype = $(":radio[name=ymltype]").val();

        $.ajax({
            type: "POST",
            url: "/shop/addproducts_todb/",
            data: form.serialize(),
            dataType: "text",
            timeout: 30000,

            success: function(data) {
                if(data[0]!=0 || data[0]!="0"){
                    $("#addedfiles").empty();
                    $("#addedfiles").append(data);

                }else{
                    alert(data);
                }
            }

        });
    });


    $(".pr_row :text").live("change", function(event){
        var pr_id = $(this).parents(".pr_row").attr("id");

        var arr = {};
        arr['csrfmiddlewaretoken'] = getCookie("csrftoken")

        arr["pr_id"] = pr_id;
        arr["pr_field"] = $(this).attr("class").substring(3);
        arr["new_val"] = $(this).val();


        $.post("/shop/modify_model/",
                arr,
                function(data) {
                   if (data == "1"){
                        show_alert("Modified", arr["pr_field"]+" = "+ arr["new_val"]);
                   }else{
                       show_alert("Error", data);
                   }
                }
        );
    });


    $("#go").live("click", function(event){
        var arr = {}
        arr['csrfmiddlewaretoken'] = getCookie("csrftoken")

        arr["unchecked_ids"] = "";
        $(":checkbox[name=id]").each( function(){
            if ( !$(this).attr("checked") )
                arr["unchecked_ids"] += "," + $(this).val();
        });

        arr["unchecked_ids"] = arr["unchecked_ids"].substring(1);

        $.post("/shop/del_unchecked_products/",
                arr,
                function(data) {
                    if (data == "1"){
                        show_alert("Go", "to next step");
                        document.location.href = "synonyms/"
                    }else{
                        show_alert("Error", data);
                    }
                }
        );

    });


    $("form[name=shopobj_form] #save").live("click", function(event){

        var form = $(this).parents("form");

        $.ajax({
            type: "POST",
            url: "/shop/update_shopinfo/",
            data: form.serialize(),
            dataType: "text",
            timeout: 30000,

            success:function(data) {
                show_alert("Updated", data);
            }
        });

    });


    $(".other_shop").live("click", function(event){
        $('<form action="" method="POST">' +
                '<input type="hidden" name="sid" value="' + $(this).attr("id") + '">' +
         '</form>').appendTo('body').submit();

    });




</script>




{% endblock %}

{% block document_ready %}
{% endblock %}


{% block content %}


<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td>

        <div id="shopobj_container">

            <form action="" name="shopobj_form">

            <label>Название магазина</label><br>
            <input type="text" name="shopobj_name" value="{{shopobj.name}}">
            <br><br>
            <label>Название компании</label><br>
            <input type="text" name="shopobj_company" value="{{shopobj.company}}">
            <br><br>
            <label>Адрес yml файла</label><br>
            <input type="text" name="shopobj_url" value="{{shopobj.url}}">
            <br><br>
            <label>Email</label><br>
            <input type="text" name="shopobj_email" value="{{shopobj.email}}">
            <br><br>
             <input type="button" id="save" value="Сохранить">

            </form>

        </div>


        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>Список магазинов клиента</label><br>
        <div id="other_shops_container">

            {% for other_shop in other_shops %}
                <div class="other_shop" id="{{ other_shop.id }}">{{ other_shop.name }}</div>
            {% endfor %}

        </div>

    </td>
    <td>




    <div id="facebox" style="position: fixed; z-index: auto; top: 260px; left: 473px; display: none;">

    <div>
        <h2>File Upload</h2>

        <p>

        </p>

        <div id="file-uploader">

            <noscript>
                <p>Please enable JavaScript to use file uploader.</p>
                <!-- or put a simple form for upload here -->
            </noscript>
        </div>

        <p style="color:#666">
            To confirm, hit the Return key.
        </p>


    </div>

</div>


<div id="file_load">

<form action="" method="post" name="form" id="file_load_form"  enctype="multipart/form-data" >{% csrf_token %}
    <label for="ymlfile">YML File path or URL</label><br>
    <input name="ymlfile" id="ymlfile" type="text" value="" size="70" />&nbsp;&nbsp;
    <a href="" rel="#facebox"  class="facebox" style="text-decoration:none">
        <input id="file" name="file" type="button" value="Выбрать файл" />
    </a>

    <br><br>


	<input type="radio" name="ymltype" value="xml" checked >XML
    <input type="radio" name="ymltype" value="xl" >XL
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    <input id="add" name="add" type="button" value="Добавить товары" />&nbsp;

		
</form>


</div>


<div id="addedfiles">
</div>

<br>
<input id="go" name="go" type="button" style="margin: 50px; width: 150px;" value="Далее" />


    </td>
</tr>
</table>



<script type="text/javascript" src="/media/js/fileuploader.js"></script>

<script type="text/javascript">
    var file_input = false;

    var uploader = new qq.FileUploader({

        element: document.getElementById('file-uploader'),

        action: '/shop/ajax_upload/',
        params: {
              csrfmiddlewaretoken: getCookie("csrftoken")
        },
        onComplete: function(id, fileName, responseJSON){
            $(":text[id=ymlfile]").val( fileName );
            $("a.close").click();
        }

    });


</script>

{% endblock %}

