{% load iterations %}

	{%math Mg|length "$1" as st %}
	{%math st "$1+5" as end %}
	{% range st:end as id %}
		<table id = "{{id}}" class="gr hid" style="display:none" cellpadding="0" cellspacing="0" border='1' width="250px" >
			<tbody style="" class="grbody sortable">
				<tr height="3" class="tmptr">
					{% range end as 6 %}
						<td></td>
					{% endrange  %}
				</tr>
			</tbody>
		</table>	
		
		
	{% endrange  %}
	
	
	
	
	{% math 0 "$1" as gr_id %}
	{% for gr in Mg %}
	    <div style="font-size: 12px;color:green;">{{gr_id}} :  {{gr.pattern}}</div>
	    <div id = "{{gr_id}}" class="selected_gr_syn"></div>
		<table id = "{{gr_id}}" class="gr" cellpadding="0" cellspacing="0" border='1' width="250px" >
			<tbody style="" class="grbody sortable">
				<tr height="3" class="tmptr">
					{% range 6 as i %}
						<td></td>
					{% endrange  %}
				</tr>	
			{% for model in gr.models %}
				<tr class="model" id = "{{model.id}}">
					{% math 0 "$1" as wd_pos %}	
					{% for wd in model.words %}
						<td class="wdtd sortable">&nbsp;<div style="float:left; padding:0px 3px" id="{{wd}}"> {{wd}} </div></td>
						{% math wd_pos "$1+1" as wd_pos %}
					{% endfor %}
					{%math model.words|length "6-$1" as end %}
					{% range end as i %}
						<td class="wdtd sortable"><div style="float:left; padding:0px 3px" id=" "></div></td>
					{% endrange  %}
				</tr>
			{% endfor %}
			</tbody>
		</table>

		{% math gr_id "$1+1" as gr_id %}
	{% endfor %}
	
	
	
