{% load demo_tags %}
<div id="commsDiv" class="listsDiv">
    <ul id="commsList">
        <li class="list-title">Found communities:</li>
    </ul>
</div>
<div id="ulistsDiv" class="listsDiv">
    <ul id="ulistsList">
        <li class="list-title">Circles:</li>
    </ul>
</div>

<script type="text/javascript">
    names={{ friends_names|json|safe }};
    imageurls={{ friends_imgs|json|safe }};
    edges={{ edges }};
    comms={{ comms }};
    comm_reprs={{ comm_reprs }};
    comm_ws={{ comm_ws }};
    user_comms={{ user_comms }};
    user_comms_names={{ user_comms_names|json|safe }};

    function makeSortableCommList(id, li_id_prefix, comms, comm_reprs, comm_names) {
        var i, el = document.getElementById(id);
        for (i = 0; i < comms.length; i++) {
            var e = document.createElement('li'), e_id = li_id_prefix+i+'-li';
            e.setAttribute('id', e_id);
            e.setAttribute('class', 'sortable');
            if (comm_reprs != null) {
                e.innerHTML = "<img src='" +imageurls[comm_reprs[i]] + "'/> " + names[comm_reprs[i]] + " +" + (comms[i].length-1) + " friends.<div class='clear'></div>";
            } else {
                e.innerHTML = comm_names[i] + ", " + (comms[i].length) + " friends.";
            }
            el.appendChild(e);
            $('#' + e_id).commTip(comms[i]);
        }
        $("#" + id).sortable({
            items: "li.sortable",
            start: function(event,ui) {
                ui.item.qtip("hide");
            }
        }).disableSelection();
    }
    var droppable_options = {
        accept: ":not(#ulistsList li)",
        hoverClass: "ui-state-hover",
        drop: function(event, ui) {
            comm_li_id = ui.draggable.attr('id');
            comm_id = parseInt(comm_li_id.split("-")[1]);
            ulist_li_id = $(this).attr('id');
            if (ulist_li_id == "new-circle-li") {
                name = prompt("circle name:");
                addCircle(name, comms[comm_id]);
            } else {
                ulist_id = parseInt(ulist_li_id.split("-")[1]);

                user_comms[ulist_id] = _.union(user_comms[ulist_id], comms[comm_id]);
                $(this).html(user_comms_names[ulist_id] + ", " + (user_comms[ulist_id].length) + " friends.").commTip(user_comms[ulist_id]); //FIXME
            }

            //ui.draggable.remove();
        }
    };
    $.fn.commTip = function(comm) {
        var text = ["<div class='tip-div'><ul class='tip-list'>"], i;
        for (i = 0; i < comm.length; i++) {
            text.push("<li>");
            text.push("<img src='" + imageurls[comm[i]] + "' />");
            text.push("<div class='tip-text'>");
            text.push(names[comm[i]]);
            text.push("</div>");
            text.push("</li>");
        }
        text.push("</ul></div>");
        return $(this).qtip({
            content: {
                text: text.join("")
            },
            show: {
                solo: true
            },
            hide: {
                delay: 100,
                fixed: true
            }
        });
    }
    function addCircle(name, comm) {
        var el = document.getElementById("ulistsList"),
                e = document.createElement('li'),
                num = user_comms.length,
                new_li=document.getElementById("new-circle-li");
        user_comms[num] = comm;
        user_comms_names[num] = name;
        var id = 'ulist-'+num+'-li'
        e.setAttribute('id', id);
        e.setAttribute('class', 'sortable');
        e.innerHTML = name + ", " + (comm.length) + " friends.";
        el.insertBefore(e, new_li);

        $('#' + id).droppable(droppable_options).commTip(user_comms[num]);
    }
    function createLists() {
        makeSortableCommList("commsList", "comm-", comms, comm_reprs, null);
        makeSortableCommList("ulistsList", "ulist-", user_comms, null, user_comms_names);
        var el = document.getElementById("ulistsList"), e = document.createElement('li');
        e.setAttribute('id', 'new-circle-li');
        e.setAttribute('class', 'fixed');
        e.innerHTML = "new circle";
        e.style.borderStyle = "dotted";
        el.appendChild(e);

        $("#ulistsList li.sortable,#new-circle-li").droppable(droppable_options);
    }
    createLists();
</script>
<div class="clear"></div>
